{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page-title %}Pass reset{% endblock %}


{% block content %}
<div id="hero-form" class="container-fluid">
    {% block page-heading %}<h3 class="page-heading">Password reset</h3>{% endblock %}
    <div id="form-background">
        <p>Enter your email address</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.email.errors }}
            <label for="id_email">Email address:</label>
            {{ form.email }}
            <button type="submit">Reset</button>
        </form>
    </div>
</div>
{% endblock %}