{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page-title %}|Enter new password{% endblock %}

{% block content %}
<div id="hero-form" class="container-fluid">
    {% block page-heading %}<h3 class="page-heading">Please enter new password</h3>{% endblock %}
    <div id="form-background">
        {% if validlink %}
            <p>Enter your new password</p>
            <form method="POST">
                {% csrf_token %}
                {{ form.new_password1.errors }}
                <label for="id_new_password1">Psw1:</label>
                    {{ form.new_password1 }}
                <label for="id_new_password2">Psw2:</label>
                    {{ form.new_password2 }}
                <button type="submit">Submit</button>
            </form>
        {% else %}
            <p>Something went wrong with a link. Might already be used. Please try again</p>
        {% endif %}
    </div>
</div>
{% endblock %}