{% load static from staticfiles %}
{% load bootstrap_tags %}

<nav class="d-none d-sm-block">
    <ul class="nav justify-content-end">
        {% if messages %}
            <li class="nav-item nav-link">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </li>
        {% endif %}
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'bugfix' %}">Bugs</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'features' %}">Features</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'post_all' %}">Blog</a></li>
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'view_cart' %}">Cart
                        {% if feature_count > 0 %}
                        <label class="badge badge-warning">{{ feature_count }}</label>
                        {% endif %}
                        </a>
                    </li>
            {% else %}
                <li class="nav-item"><a class="btm-common-class nav-link" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item"><a class="btm-common-class nav-link" href="{% url 'registration' %}">Register</a></li>
            {% endif %}
    </ul>
</nav>

<div class="container-fluid">
    <div class="d-md-none dropdown">
        <button class="btn btn-mobile-menu dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
        </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'index' %}">Home</a>
                <a class="dropdown-item" href="{% url 'bugfix' %}">Bugs</a>
                <a class="dropdown-item" href="{% url 'features' %}">Features</a>
                <a class="dropdown-item" href="{% url 'post_all' %}">Blog</a>
                    {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        <a class="dropdown-item" href="{% url 'view_cart' %}">Cart
                            {% if feature_count > 0 %}
                                <label class="badge badge-warning">{{ feature_count }}</label>
                            {% endif %}
                        </a>
                    {% else %}
                        <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                        <a class="dropdown-item" href="{% url 'registration' %}">Register</a>
                    {% endif %}
              </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>